<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

{% block body %}
<body>
<div class="container">
    <h1>Fake Pinterest no ar!</h1>
</div>
{% block formulario %}
 <form method="POST">
  {{ form.csrf_token }}

     {{ form.email.label() }}
     {{ form.email() }}

     {{ form.senha.label() }}
     {{ form.senha() }}

     {{ form.botao_confirmacao() }}
 </form>

    <a href="{{ url_for('criarconta') }}">Ainda não tem uma conta? Clique aqui para criar!</a>
{% endblock %}

 <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
{% endblock body %}

</html>